# Ignore folders with data
tweets/*
log/*

# Ignore enviroment
venv/*

# Eclipse specific git ignore
.project
*.pydevproject
.settings/

# Ignore byte code files
*.pyc

# Ignore backup files
*~

# Ignore credentials file
credentials.py
